<h1>Editing car_trim</h1>

<% form_for(@car_trim) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :trim %><br />
    <%= f.text_field :trim %>
  </p>
  <p>
    <%= f.collection_select(:car_model_id, @car_models, :id, :model) %>
  </p>
  <p>
    <%= f.label  @car_trim.car_model.car_make.name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @car_trim %> |
<%= link_to 'Back', car_trims_path %>
