<h1>Listing car_makes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @car_makes.each do |car_make| %>
  <tr>
    <td><%=h car_make.name %></td>
    <td><%= link_to 'Show', car_make %></td>
    <td><%= link_to 'Edit', edit_car_make_path(car_make) %></td>
    <td><%= link_to 'Destroy', car_make, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New car_make', new_car_make_path %>
<br />
<a href="/project3/index.html">Back to Payment Calculator</a>
