<h1>New car_model</h1>

<% form_for(@car_model) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.collection_select(:car_make_id, @car_makes, :id, :name) %>
  </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', car_models_path %>
